# From https://gist.github.com/chichunchen/970a7e97c74a253a4503
# Ignore everything
*

# Uningore all with extensions
!*.*

# Reignore swap files
*.*~
*.*.*~

# Unignore dirs
!*/

# Unignore dockerfile
!Dockerfile

# Ignore audio dir
audio/
*/audio/*
